body{
  padding: 20px;
}

p {
  counter-increment: n-counter;
  padding: 10px;
  margin-left: 20px;
  position: relative;
  background-color: #efefef;
  border-right: 5px solid red;
  width: 400px;
  height: 50;
}
p::before {
  content: counter(n-counter);
  background-color: red;
  color: white;
  position: absolute;
  left: -30px;
  width: 30px;
  height: 100%;
  text-align: center;
  top: 0px;
}
p::after {
  border: 10px solid red;
  width: 70px;
  height: 50px;
  background-color: red;
}