div {
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
    position: relative;
    width: 400px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
  }
  span {
    position: absolute;
    background-color: red;
    padding: 10px;
    color: white;
    top:7px;
    left:-20px;
    height: 50%;
    text-align: center;
  }