body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.comment {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  width: 700px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.person {
  background-color: #d1d1d1;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.person::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 10px solid #f00;
}

.text {
  padding-left: 20px;
  font-size: 18px;
  flex-grow: 1;
  color: #000;
}
