div{
    width: 400px;
    background-color: #eee;
    padding: 15px;
    margin: 20px auto;
    font-size: 17px;
    font-weight:500;
    line-height: 1.7;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    position: relative;
    text-align: center;

}
.top-left{
    color: white;
    position:absolute;
    background-color: blue;
    width: 30px;
    height: 25px;
     text-align: center;
    border-right: 2px solid red;
    top:-10px;
    left: -15px;
}

.bottom-left{
    color: white;
    position:absolute;
    background-color: blue;
    width: 30px;
    height: 25px;
     text-align: center;
    border-right: 2px solid red;
    bottom:-10px;
    left: -15px;
}

.top-right{
    color: white;
    position:absolute;
    background-color: blue;
    width: 30px;
    height: 25px;
     text-align: center;
    border-left: 2px solid red;
    top:-10px;
    left: 415px;
}

.bottom-right{
    color: white;
    position:absolute;
    background-color: blue;
    width: 30px;
    height: 25px;
     text-align: center;
    border-left: 2px solid red;
    bottom:-10px;
    left: 415px;
}