* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.element {
    width: 400px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    position: relative;
}

.element-1::before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #e91e63; /* Pink */
}

.element-2::before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #009688; /* Teal */
}

.element-3::before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #ffc107; /* Amber */
}
