div{
    width: 400px;
    height: 400px;
}
.assign-4-shape-1{
    background-image: url("photo.png");
    background-repeat: no-repeat;
    background-color: #eee;
    background-size: 320px 320px;
    margin-bottom: 10px;
}

.assign-4-shape-2{
    background-image: url("photo.png");
    background-position: right;
    background-repeat: no-repeat;
    background-color: #eee;
    background-size:320px 400px;
    margin-bottom: 20px;
}

.assign-4-shape-3{
    background-image: url("photo.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #eee;
    background-size:400px 320px;
    margin-bottom: 20px;
}
.assign-4-shape-4{
    background-image: url("photo.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #eee;
    background-size:200px 200px;
    margin-bottom: 20px;
}